.dark-mode {
    background-color: black;
    color: white;
}

.light-mode{
    background-color: white;
    color: black;
}

.container{
    width: 400px;
    height: 100%;
    padding : 8px
}