.box {
    width: 200px;
    height: 200px;
    display: inline-block;
}
.green{
    background-color: green;
    border: 2px solid black;
}
.red{
    background-color: red;
    border: 2px solid black;
}
.purple{
    background-color: purple;
    border: 2px solid black;
}
*{
    color: white;
}